div.form-item-gateway input {
	float:left;
	*margin:-1px 0;
	vertical-align: middle;
	top: 100px;
	line-height: 50px;
	height: 50px;
}
div.form-item-gateway label.option {
	vertical-align: middle;
	line-height: 50px;
	height: 50px;
}
div.form-item-gateway label.option img {
	line-height: 50px;
}

div.form-item-orderdate label {
	width: 200px;
	text-align: right;
	display: inline;
}
div.form-item-ordergateway label {
	width: 200px;
	text-align: right;
	display: inline;
}
div.form-item-status label {
	width: 200px;
	text-align: right;
	display: inline;
}
